<h1>Movies#new</h1>
<p>Find me in app/views/movies/new.html.erb</p>
<%= form_with model: @movie, method: :post do |form| %>
    
    <div>
        <%= form.label :title, "Nombre" %>
            <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :content, "Synopsys" %>
            <%= form.text_field :synopsis %>
    </div>
    <div>
        <%= form.label :content, "Director" %>
            <%= form.text_field :director %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>